// radio styles
.ga-radio{
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    &:not(.is-disabled):hover{
        border-color: $themcolor;
        .ga-radio_label{
            color: $themcolor;
        }
        .ga-radio_input{
            border-color: $themcolor;
        }
    }
    
    &.is-active{
        .ga-radio_input{
            border-color: $themcolor;
            background-color: $themcolor;
            .ga-radio_input__inner{
                transform: translate(-0.25em,-0.25em) scale(1);
            }
        }
        .ga-radio_label{
            color: $themcolor;
        }
    }
    &.is-active.is-disabled{
        .ga-radio_input{
            background-color: $notallowed;
            border-color: $notallowed;
            .ga-radio_input__inner{
                background-color: $white;
            }
        }
        .ga-radio_label{
            color: $notallowed;
        }
    }
    &.is-disabled{
        cursor: not-allowed;
        .ga-radio_input{
            border-color: $notallowed;
            background-color: none;
        }
        .ga-radio_label{
            color: $notallowed;
        }
    }

    .ga-radio_input{
        display: inline-block;
        border-radius: 50%;
        border: 1px solid #ccc;
        vertical-align: middle;
        line-height: 1;
        width: 1em;
        height: 1em;
        position: relative;
        user-select: none;
        font-size: inherit;
        
        .ga-radio_input__inner{
            position: absolute;
            width: 0.5em;
            height: 0.5em;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transition: transform .15s cubic-bezier(.71,-.46,.88,.6);
            background-color: $white;      
        }
        .ga-radio_input__original{
            opacity: 0;
            outline: none;
            position: absolute;
            z-index: -2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
        }
    }
    .ga-radio_label{
        padding-left: 6px;
        font-size: 14px;
        line-height: 1;
        vertical-align: middle;
        user-select: none;
    }
}

