// sidebar components styles

.sidebar{
    padding: 20px 0;
    ul{
        li{
            color: #333;
            p{
                cursor: pointer;
                font-size: 18px;
                padding: 10px;
                line-height: 1;
                text-align: left;
                &:after{
                    content:"";
                    display: block;
                    clear: both;
                }
                &:hover{
                    span,i{
                        color: $themcolor;
                    }
                }
                span{
                    transition: .3s;
                    float: left;
                }
                i{
                    transition: .3s;
                    float: right;
                }
                
            }
            .no-data{
                text-align: center;
                font-size: 14px;
                color: #ccc;
            }
            ol{
                li{
                    font-size: 14px;
                    line-height: 1.8;
                    padding: 6px 8px;
                    cursor: pointer;
                    transition: .2s;
                    color: #333;
                    span{
                        transition: .2s;
                    }
                    &.active{
                        span{
                            // font-weight: bold;
                            color: $themcolor;
                        }
                        background-color: $white;
                    }
                    &:hover{
                        background-color: $themcolor;
                    }
                    &:hover span{
                        transform: translateX(-150px);
                        color: #fff;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}