@font-face {
    font-family:"Source Sans Pro Light";
    src:url("fonts/SourceSansPro-Light.eot?") format("eot"),
    url("fonts/SourceSansPro-Light.woff") format("woff"),
    url("fonts/SourceSansPro-Light.ttf") format("truetype"),
    url("fonts/SourceSansPro-Light.svg#fonts/SourceSansPro-Light") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: local("Roboto Mono"), url("fonts/RobotoMono-Regular.ttf");
}

code[class*="language-"],
 pre[class*="language-"] {
     padding:8px 0;
     color: #666;
     font-family: "Roboto Mono";
     font-size: 0.9em;
     background-color: #f8f8f8;
     -webkit-font-smoothing: initial;

     direction: ltr;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;

     box-sizing: border-box;
     border-radius: 8px;
 }


code.language-html::after{
    color: black;
    background-color: #CFCFCF;
    display: inline-block;
    position: absolute;
    bottom: auto;
    left: auto;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    font-size: 0.9em;
    border-radius: 0 0 0 5px;
    padding: 0 0.5em;
    text-shadow: none;
    z-index: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    content:"HTML";
}
code.language-jsvascript::after{
    content:"JS";
    color: black;
    background-color: #CFCFCF;
    display: inline-block;
    position: absolute;
    bottom: auto;
    left: auto;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    font-size: 0.9em;
    border-radius: 0 0 0 5px;
    padding: 0 0.5em;
    text-shadow: none;
    z-index: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
pre{
    overflow-y: scroll;
    background-color: #f9f9f9;
    position: relative;
}
pre code{
    display: block;
}
/* code styles */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #383a42;
    background: #fafafa;
  }
  
  .hljs-comment,
  .hljs-quote {
    color: #a0a1a7;
    font-style: italic;
  }
  
  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #a626a4;
  }
  
  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #e45649;
  }
  
  .hljs-literal {
    color: #0184bb;
  }
  
  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta-string {
    color: #50a14f;
  }
  
  .hljs-built_in,
  .hljs-class .hljs-title {
    color: #c18401;
  }
  
  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: #986801;
  }
  
  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #4078f2;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-link {
    text-decoration: underline;
  }
  /* code styles over */


  p code,td code{
    font-family: "Roboto Mono";
    font-size: 0.8em;
    background-color: #f8f8f8;
    -webkit-font-smoothing: initial;
    color: #e96900;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
 }

 pre[class*="language-"]:before{
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    text-align: right;
    font-size: 0.75em;
    padding: 5px 10px 0;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
 }
 pre.language-css{
     content: "CSS";
 }
 pre.language-javascript{
     content:"JAVASCRIPT"
 }
 pre.language-html{
     content:"HTML";
 }


table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
    font-size: 14px;
}
  
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
padding: 6px 8px;
line-height: 1.5;
vertical-align: top;
border-top: 1px solid #f9f9f9;
}
table > thead > tr > th {
vertical-align: bottom;
border-bottom: 1px solid #f9f9f9;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
border-top: 0;
}
table > tbody + tbody {
border-top: 2px solid #f9f9f9;
}

table {
font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
border: 1px solid #f9f9f9;
border-collapse: separate;
border-radius: 2px;
border-left: none;  
}
table td{
    text-align: center;
}
table tr{
    border-bottom: 1px solid #f9f9f9;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > tbody > tr > td,
table > tfoot > tr > td {
border-left: 1px solid #f9f9f9;
}
table > thead > tr > th,
table > thead > tr > td {
border-bottom-width: 1px;
background: #f9f9f9;
}

table > thead > tr:first-child > th,
table > tbody > tr:first-child > th,
table > tfoot > tr:first-child > th,
table > thead > tr:first-child > td,
table > tbody > tr:first-child > td,
table > tfoot > tr:first-child > td {
border-top: 0;
}
table > thead:last-child tr:last-child > th:first-child,
table > tbody:last-child tr:last-child > td:first-child,
table > tbody:last-child tr:last-child > th:first-child,
table > tfoot:last-child tr:last-child > td:first-child,
table > tfoot:last-child tr:last-child > th:first-child {
border-bottom-left-radius: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
background-color: #f5f5f5;
}
.table-striped > tbody > tr:nth-child(odd) {
background-color: #f9f9f9;
}
 

 p code,td code{
    font-family: "Roboto Mono";
    font-size: 0.8em;
    background-color: #f8f8f8;
    -webkit-font-smoothing: initial;
    color: #e96900;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
 }