$bodypadding:60px;
$bodybg:#fff;
$white:#fff;
$footheight:164px;
$footbg:#fff;
$headerpadding:80px;
$sidebarwidth:220px;
$blue:#386cca;
$textcolor:#333;
$wrapwidth:1140px;
$margin:20px;
$padding:20px;
